#Place cuda snippets here
snippet glob "Global Kernel" -b
__global__ void ${1:function_name}(${2}) {
    $0
}
endsnippet

snippet cui "const unsigned int" -b
const unsigned int $0
endsnippet

snippet com "Block Comment" -b
/*
    ${1:${VISUAL:}}
*/
$0
endsnippet
