# This is Git's per-user configuration file.
[user]
	email = bcurl3ss@gmail.com
	name = Brian Curless

[alias]
	graph = log --all --graph --decorate --oneline
[core]
	excludesFile = ~/.gitignore_global
	editor = vim
[pull]
	rebase = false
[init]
	defaultBranch = main
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
