# This is Git's per-user configuration file.
[user]
	email = bcurl3ss@gmail.com
	name = Brian Curless

[alias]
	grapha = log --all --decorate --oneline --graph
[alias]
	graph = log --decorate --oneline --graph
[core]
	excludesFile = ~/.gitignore_global
	editor = nvim
[pull]
	rebase = false
[init]
	defaultBranch = main
[diff]
	tool = nvimdiff
[difftool]
	cmd = nvim -d $LOCAL $REMOTE
	prompt = true
[merge]
	tool = nvimdiff
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "nvimdiff"]
	layout = "LOCAL,BASE,REMOTE / MERGED"
